.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.image-container {
  position: relative;
  display: inline-block; /* подгоняем контейнер по размеру картинки */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* высота затемненной зоны (половина картинки) */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  pointer-events: none; /* чтобы клики проходили сквозь затемнение */
}